
   <div class="padre" style="text-align:center">
    <h2>{{title}}</h2>
    <!-- <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="value" [qrr-type]="elementType">
    </ng2-qrcode-reader> -->

    <button *ngIf="view" type="button" class="btn btn-primary" (click)="reload();">Volver a escanear</button>

    <br>
    
    <br>

    <div  class="hijo_uno" style="text-align:center">
        <qr-scanner
          [debug]="false"
          [canvasWidth]="360"
          [canvasHeight]="240"
          [stopAfterScan]="afterscan"
          [updateTime]="500">
        </qr-scanner>
      </div>
    
  </div>


 
  <br>
  
  <div *ngIf="view" class="padre">
    <h2>Resultado :

    </h2>
    <div >
      
        {{resultElement}} </div>
</div>
  
  <!-- <div #result class="padre"> </div> -->