.padre {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin: 1rem;
  }
  
  .hijo_uno {    
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hijo_dos {    
    width: 200px;
    margin: 0 auto;
  }